mat-card {
    margin-bottom: 1em;
    font-size: 24px;
    button {
        float: right;
    }
    .post-title {
        font-weight: bold;
    }
    .post-body {
        margin-top: 1em;
        font-size: 16px;
    }
    
}
