<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
    <mat-form-field>
        <mat-label>Fullname</mat-label>
        <input matInput placeholder="Enter full name" formControlName="fullname">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" formControlName="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Usertype</mat-label>
        <input matInput placeholder="Ex. Admin or User" formControlName="type">
    </mat-form-field>
    <button color="accent" [disabled]="!signupForm.valid" mat-raised-button type="submit">
        <span>Sign up</span>
    </button>
</form>